@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f2f0ea;
  color: #2c2c2c;
}

/* Custom Scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #c8bea6; 
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #93815e; 
}
